# Ignore log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore environment files
.env
venv/
__pycache__/

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform configuration and override files
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# Sensitive files (add more if needed)
*.pem
*.key
*.crt
*.p12

# Ignore Terraform plan output files
*.tfplan

# Ignore Terraform debug logs
.terraformrc
terraform.rc
delete_images.sh
static/

# Ignore specific binaries and archives
linux-amd64/
helm-v3.17.0-linux-amd64.tar.gz

# Ignore virtual environment
venv/

# Ignore old or unused code files
deploy.py
k8s.yaml
setup.sh
trash.py

# Ignore Terraform-related files
main.tf_aws.txt
portforwarding.txt